body {
 background-image: url("../Images/download.jpg");
 background-size:cover;
 background-color: #cccccc;
} 



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

hr.new1 {
  border-top: 1px solid black;
}

h2,h3 {
  font-family:Vardana;
  text-align: center;
  font-size:250%;
}




ul.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu{
  float:left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
} 

div{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 550px;
	margin-left: 410px;
	border-style: groove;
	border-color:"balck";
	padding: 5px;
}

.productData{
	background-color:#5698d6;
}

.submit{
  background-color: #4c4faf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-right: 150px;
}
.col{
  font-family:Vardana;
  text-align: left;
  font-size:80%;
  
}
h6{
	font-size:100%;
}


.form {
	text-align:center;
}