
head{
	font-size:25px;
}

 button {

  background-color: #56CCF2;
  color: black;
  padding:10px 10px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity:0.6;
}
button:hover {
  opacity: 3;
}


input {
   font-size:25px;
   outline-style: solid;
   outline-width:thin;
   outline-color:darkyellow;
}
div {
  border: 1px solid black;
  background-color: white;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}
 